<div id="home-container" class="container">
	<h1 id="header">Cart Items</h1>
	<div id="products-container">
		<% @products.each do |product| %>
			<div class="product-card">	
				<p id="name"><%= product.name %></p>
				<p id="description"><%= product.description %></p>
				<p id="price">₱<%= product.price %></p>
				<div class="icons-container" data-controller="product">
					<button data-product-id=<%= product.id %> data-action="click->product#deleteCartItem">
						<i class="fa-solid fa-trash"></i>
					</button>
				</div>
			</div>
		<% end %>
	</div>
</div>