<div id="sign-up-container" class="container" data-controller="user">
	<div id="header-container">
		<h1>Sign Up <span><i class="fa-solid fa-cart-shopping"></i></span></h1>
		<h2>Please sign up to access ecommerce app.</h2>
	</div>
	<form id="sign-up-form-container">
        <div class="input-container">
            <i class="fa-solid fa-user"></i>
			<input type="text" name="firstName" placeholder="First Name" data-user-target="firstName">
		</div>
        <div class="input-container">
            <i class="fa-solid fa-user"></i>
			<input type="text" name="lastName" placeholder="Last Name" data-user-target="lastName">
		</div>
		<div class="input-container">
			<i class="fa-solid fa-envelope"></i>
			<input type="text" name="email" placeholder="Email"  data-user-target="email">
		</div>
		<div class="input-container">
			<i class="fa-solid fa-lock"></i>
			<input type="password" name="password" placeholder="Password" data-user-target="password">
		</div>
        <div class="input-container">
			<i class="fa-solid fa-lock"></i>
			<input type="password" name="confirmPassword" placeholder="Confirm Password" data-user-target="confirmPassword">
		</div>
		<button id="submit-button" data-action="click->user#signUp">Sign Up</button>
	</form>
	<p id="sign-up-text">Already have an account? <a href="sign_in">Sign in</a></p>
</div>