<div id="sign-in-container" class="container">
	<div id="header-container">
		<h1>Sign In <span><i class="fa-solid fa-cart-shopping"></i></span></h1>
		<h2>Please sign in to access the ecommerce app.</h2>
	</div>
	<form id="sign-in-form-container">
		<div class="input-container">
			<i class="fa-solid fa-envelope"></i>
			<input type="text" name="username" placeholder="Enter your email">
		</div>
		<div class="input-container">
			<i class="fa-solid fa-lock"></i>
			<input type="password" name="password" placeholder="Enter your password">
		</div>
		<button id="submit-button">Sign In</button>
	</form>
	<p id="sign-up-text">Don't have an account? <a href="sign_up">Sign up</a></p>
</div>