@import 'variables';

#home-container {
    min-height: 100dvh;

    #products-container {
        display: flex;
        justify-content: center;
        gap: 32px;
        flex-wrap: wrap;

        .product-card {
            background-color: $black;
            padding: 1rem;

            p, i {
                color: $white;
            }

            #name {
                font-weight: 800;
            }

            #description {
                font-size: .8rem;
            }

            #price {
                margin-bottom: 1rem;
            }

            .icons-container {
                display: flex;
                justify-content: flex-end;
                gap: 12px;

                button {
                    font-size: 1rem;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}