@import 'variables';

#navbar-container {
    background-color: $black;
    padding: 1rem;

    #navbar-items-container {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        gap: 24px;

        li, a {
            color: $white;
            cursor: pointer;
        }
    }
}